name: build

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build images
        run: |
          docker buildx build --output "type=image,push=true" --platform=linux/ppc64le,linux/amd64,linux/s390x,linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/386 --tag ${{ github.repository_owner }}/regioncheck:latest .
